[submodule "xmarts/xma_mod_l10n_mx_edi"]
	path = xmarts/xma_mod_l10n_mx_edi
	url = git@github.com:xmarts/xma_mod_l10n_mx_edi.git
	branch = 15.0

[submodule "xmarts/fields_functions_jarochito"]
	path = xmarts/fields_functions_jarochito
	url = git@github.com:xmarts/fields_functions_jarochito.git
	branch = 15.0
